
<div class="note-form-wrapper">
    {{ form_start(noteForm) }}
    <div class="note-form-component">
        {{ form_label(noteForm.title) }}
        {{ form_widget(noteForm.title, {'attr': {'class': 'note-form-input'}}) }}
    </div>
    <div class="note-form-component">
        {{ form_label(noteForm.content) }}
        {{ form_widget(noteForm.content, {'attr': {'class': 'note-form-textarea'}}) }}
    </div>
    <button class="btn btn-success" type="submit">Ok</button>
    {{ form_end(noteForm) }}
</div>
