{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block content %}

    {% if notes is not empty %}
        <section class="admin-deck">
            {% for note in notes %}
                <div class="admin-card">
                    <h2 class="note-title">{{ note.title }}<span class="note-commands"><a class="btn btn-warning" href="{{ path('notes_edit', {'id': note.id}) }}">Edit</a><a class="btn btn-danger" href="{{ path('notes_delete', {'id': note.id}) }}">Delete</a></span></h2>
                    <div class="note-author">{{ note.author.name ?? "Anonymous" }}</div>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if members is not empty %}
        <section class="admin-deck">
            {% for member in members %}
                <div class="admin-card">
                    <h2 class="member-name">{{ member.name }}</h2>
                    <div class="member-email">{{ member.email }}</div>
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/MarkdownPhttps://stackoverflow.com/questions/39974833/composer-the-requested-package-exists-as-but-these-are-rejected-by-your-constrarser/marked.js') }}"></script>
    <script src="{{ asset('/js/MarkdownParser/MarkdownParser.js') }}"></script>
    <script src="{{ asset('/js/notes_index.js') }}"></script>
{% endblock %}
