<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ path('home') }}">
                Home
            </a>

            <a class="navbar-item" href="{{ path('notes') }}">
                Notes
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if not app.user %}
                        <a class="button is-primary" href="{{ path('members_register') }}">
                            <strong>Sign up</strong>
                        </a>

                        <a class="button is-light" href="{{ path('app_login') }}">
                            Log in
                        </a>
                    {% else %}
                        <a class="button is-light" href="{{ path('app_logout') }}">
                            Log out
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>