
<nav class="navbar">
    {% if app.user %}
        <span>{{ app.user.name }}</span>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href="{{ path('admin_index', {'panel': 'note'}) }}">Note panel</a>
            <a class="btn btn-secondary" href="{{ path('admin_index', {'panel': 'member'}) }}">Member panel</a>
        {% endif %}
        <a class="btn btn-secondary" href="{{ path('note_index') }}">Note list</a>
        <a class="btn btn-warning" href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a class="btn btn-secondary" href="{{ path('app_login') }}">Login</a>
    {% endif %}
</nav>