{% extends 'base.html.twig' %}

{% block title %}Notes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("/css/note_form.css") }}">
    <link rel="stylesheet" href="{{ asset("/css/note_list.css") }}">
{% endblock %}

{% block content %}
    {% include 'component/note/note_form.html.twig' %}

    <section class="note-list">
        {% for note in notes %}
            <article class="note-list-element">
                <h2 class="note-list-element-title switch-display-trigger">{{ note.title }}<span class="note-list-element-commands switch-display"><a class="btn btn-warning" href="{{ path('note_edit', {'id': note.id}) }}">Edit</a><a class="btn btn-danger" href="{{ path('note_delete', {'id': note.id}) }}">Delete</a></span></h2>
                <div class="note-list-element-metadata">{{ note.author.name ?? "Anonymous" }}</div>
                <div class="note-list-element-content">{{ note.content }}</div>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/MarkdownParser/marked.js') }}"></script>
    <script src="{{ asset('/js/MarkdownParser/MarkdownParser.js') }}"></script>
    <script src="{{ asset('/js/note_index.js') }}"></script>
{% endblock %}
